header{
    margin-top: 34px;
    margin-left: 80px;
    width: 1760px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
    h3{
    display: inline;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 1183px;
    }

    nuv{
    margin: 0px;
    }


}


div.logo{
    background-color: #F8F9FA;
    width: 88px;
    height: 88px;
    margin: 3px;


    img{
       margin-top: 25px;
       margin-left: 34px;
    }

    p{
        margin: 0;
        text-align: center;
        color: #666666;
    }

}

div.arts{
    display: inline-block;
    width: 370px;
    height: 411px;
    box-shadow: 0 0 5px;

    margin-top: 30px;
}

div.arts2{
    display: block;
    width: 270px;
    height: 287px;
    margin-top: 20px;
    box-shadow: 0 0 5px;
    text-align: center;
}

div.arts3{
    display: block;
    width: 270px;
    height: 385px;
    box-shadow: 0 0 5px;
    text-align: center;
}


div.unts{
    margin: 0;
    width: 370px;
    height: 131px;
    background-color: bisque;
}

div.wart{
    width: 770px;
    height: 561px;
    box-shadow: 0 0 5px;
    margin-top: 30px;
}



div.tag{
    display: flex;
    p{
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 0px;
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        color: #666666;
    }
}



img.post_1{
    object-fit: cover;
    width: 370px;
    height: 280px;
}

img.post_2{
    object-fit: cover;
    width: 296px;
    height: 296px;
}

img.wpost{
    object-fit: cover;
    width: 770px;
    height: 349px;
}

img.post_3{
    object-fit: cover;
    width: 270px;
    height: 160px;
}



div.dress{
    color: white;
    position: relative;
    text-align: left;
    display: inline-block;
    width: 1920px;
    height: 700px;
    background-color: aqua;
}
.text_Up{
    position: absolute;
    top: 490px;
    left: 375px;
    font-size: 14px;
}
.text_Av{
    width: 560px;
    height: 100px;
    position: absolute;
    top: 512px;
    left: 375px;
    font-size: 40px;
}
.text_Dn{
    width: 283px;
    height: 19px;
    position: absolute;
    top: 622px;
    left: 375px;
    font-size: 14px;
}




footer{
    text-align: center;
    width: 1170px;
    height: 261px;
    margin-left: 375px;
}



/* Текст для постов */
p.tup{
    size: 12px;
    color: #C9A96E;
    margin-top: 5px;
}

p.tost1{
    size: 20px;
    color: #171717;
    margin-top: 5px;
}
p.tost2{
    size: 18px;
    color: #171717;
}

p.tbot{
    size: 12px;
}


/* Поновее */

div.box{
    border: 1px solid;
    width: 270px;
    height: 50px;
    border-color: #E5E5E5;

    p{
        text-align: center;
        vertical-align: middle;
        font-size: 16px;
    }
}

div.voxx{
    width: 509px;
    height: 50px;
    border: 0.5px solid;
    margin-left: 134.5px;
    margin-top: 30px;
    vertical-align: middle;
    text-align: center;
    border-color: #E5E5E5;

    nuv{
        display: flex;
        justify-content: space-between;
        p{
            font-size: 16px;
        }
    }
}



